<%= form_for(@translation) do |f| %>
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :ans1 %><br />
    <%= f.text_field :ans1 %>
  </div>
  <div class="field">
    <%= f.label :ans2 %><br />
    <%= f.text_field :ans2 %>
  </div>
  <div class="field">
    <%= f.label :ans3 %><br />
    <%= f.text_field :ans3 %>
  </div>
  <div class="field">
    <%= f.label :ans4 %><br />
    <%= f.text_field :ans4 %>
  </div>
  <div class="field">
    <%= f.label :correctAns %><br />
    <%= f.number_field :correctAns %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
