<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @translation.question %>
</p>

<p>
  <b>Ans1:</b>
  <%= @translation.ans1 %>
</p>

<p>
  <b>Ans2:</b>
  <%= @translation.ans2 %>
</p>

<p>
  <b>Ans3:</b>
  <%= @translation.ans3 %>
</p>

<p>
  <b>Ans4:</b>
  <%= @translation.ans4 %>
</p>

<p>
  <b>Correctans:</b>
  <%= @translation.correctAns %>
</p>


<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
