<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="riddle">
  <div class="field">
  	<%= label_tag(:q1, "Ic") %>
  	<%= select( "translation", "id", {"You"=>"You", "Them"=>"Them", "I"=>"I", "We"=>"We"})%>
  </div>
  <div class="field">
    <%= label_tag(:q2, "þa") %>
    <%= select( "translation", "id", { "this" => "this", "that" => "that", "what" => "what", "which" => "which"}) %>
  </div>
  <div class="field">
    <%= label_tag(:q3, "wiht") %>
    <%= select( "translation", "id", { "weight" => "weight", "house" => "house", "creature" => "creature", "lift" => "lift"}) %>    
  </div>
  <div class="field">
    <%= label_tag(:q4, "geseah") %>
    <%= select( "translation", "id", { "saw" => "saw", "went" => "went", "lost" => "lost", "sought" => "sought"}) %>
  </div>
  <div class="field">   
    <%= label_tag(:q5, "on") %>
    <%= select( "translation", "id", { "in" => "in", "on" => "on", "at" => "at", "by" => "by"}) %>
  </div>
  <div class="field">
    <%= label_tag(:q6, "weg") %>
    <%= select( "translation", "id", { "path" => "path", "way" => "way", "gorge" => "gorge", "ruins" => "ruins"}) %>
  </div>
  <div class="field">
    <%= label_tag(:q7, "feran") %>
    <%= select( "translation", "id", { "shout" => "shout", "flow" => "flow", "flower" => "flower", "go" => "go"}) %>
  </div>

  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
 </div>
<% end %>
