<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="riddle">
  <div class="field">
  	<%= label_tag(:q1, "Ic") %>
  	<%= f.select :q1, [ 'You', 'Them', 'I', 'We']%>
  </div>
  <div class="field">
    <%= label_tag(:q2, "þa") %>
    <%= f.select :q2, [ 'this', 'that', 'what', 'which']%>
  </div>
  <div class="field">
    <%= label_tag(:q3, "wiht") %>
    <%= f.select :q3, [ 'weight', 'house', 'creature', 'lift']%>
  </div>
  <div class="field">
    <%= label_tag(:q4, "geseah") %>
    <%= f.select :q4, [ 'saw', 'went', 'lost', 'sought']%>
  </div>
  <div class="field">   
    <%= label_tag(:q5, "on") %>
    <%= f.select :q5, [ 'in', 'on', 'at', 'by']%>
  </div>
  <div class="field">
    <%= label_tag(:q6, "weg") %>
    <%= f.select :q6, [ 'path', 'way', 'gorge', 'ruins']%>
  </div>
  <div class="field">
    <%= label_tag(:q7, "feran") %>
    <%= f.select :q7, [ 'shout', 'flow', 'flower', 'go']%>
  </div>

  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
 </div>
<% end %>
