<p id="notice"><%= notice %></p>

<p>
  <b>Q1:</b>
  <%= @challenge.q1 %>
</p>

<p>
  <b>Q2:</b>
  <%= @challenge.q2 %>
</p>

<p>
  <b>Q3:</b>
  <%= @challenge.q3 %>
</p>

<p>
  <b>Q4:</b>
  <%= @challenge.q4 %>
</p>

<p>
  <b>Q5:</b>
  <%= @challenge.q5 %>
</p>

<p>
  <b>Q6:</b>
  <%= @challenge.q6 %>
</p>

<p>
  <b>Q7:</b>
  <%= @challenge.q7 %>
</p>



<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
